<template>
  <div id="meta">
    <div id="labels">
     <H1>MetaDaten</H1>

     <table>
						<tr>
              <td>Tauchtiefe</td>
                <td>{{divetime}}</td>
						</tr>
          	<tr>
              <td>date</td>
						</tr>
					<tr>
              <td>divetime</td>
						</tr>
            <tr>
              <td>gasmix</td>
						</tr>
			</table>  
    </div>
  </div>
</template>