<script>
import { Line } from "vue-chartjs";
import store from "@/store";

export default {
  extends: Line,
  mounted() {
    this.renderChart(this.getData(), this.getOptions("My Data"));
  },
  watch: {
      '$route' (to, from){
        const dive = store.dives[to.params.id-1]; // Array starts with 0 and id starts with 1
        const time = [];
        const depth = [];
        dive.samples.forEach(function (sample) {
          time.push(sample.time);
          depth.push(sample.depth);
        });
        this.renderChart(this.getData(time, depth, dive.date),this.getOptions("My other Data"));
      }
  },
  methods: {
    getData (labels, data, label) {
      return {
        labels: labels,
        datasets: [
          {
            label: (label == null? "Select a dive" : "Dive from " + label),
            data: data,
            backgroundColor: "transparent",
            borderColor: "rgba(1, 116, 188, 0.50)",
            pointBackgroundColor: "rgba(171, 71, 188, 1)"
          }
        ]
      }
    },
    getOptions(text) {
      return {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: text
        },
        scales: {
          yAxes: [{
            ticks: {
              reverse: true,
            }
          }]
        }
      }

    }
  }

};
</script>

<style>
div#tauchgang {
  height: 40%;
}
</style>
