<template>
  <div id="wrapper">
    <div id="myHeader">{{ msg }}</div>
    <Navigation />
    <div id="rechts" v-if="!(this.$route.params.id === undefined)">
      {{this.$route.params.id === undefined}}
      <DiveLineChart />
      <div id="gruppeUnten">
        <Metadata />
        <DiveMap />
      </div>
    </div>
    <DiveMap v-else />
  </div>
</template>

<script>
import Navigation from "./navigation";
import Metadata from "./DiveMetadata";
import DiveMap from "./newDiveMap";
import DiveLineChart from "./DiveLineChart";
import styles from './module.css'
export default {
  components: {
    Navigation,
    Metadata,
    DiveMap,
    DiveLineChart
  },
  name: "wrapper",
  props: {
    msg: String
  }
};
</script>
<style scoped>

div#wrapper {
  width: 100%;
  height: 100%;
}

div#myHeader {
  height: 10%;
  background-color: aqua;
}

div#rechts {
  width: 85%;
  height: 90%;
  float: right;
}

div#gruppeUnten {
  height: 50%;
  width: 100%;
}
div#wrapper {
  height: 100%;
}
</style>
