<template>

</template>

<script>
export default {
    props: [
        'diveMarker',
        'pinStyle',
        'latCorrdinatesForPin',
        'lngCorrdinatesForPin'
    ]
}

</script>

<style>

</style>