<template>
  <div id="maps">
    <div class="pinLocation" :style="pinStyle">
    <p>Pin location</p>
    <div class="box">
        <div class="boxInside">Coordinates X:</div>
        <div class="boxInside">{{latCorrdinatesForPin}}</div>
    </div>
    <div class="box">
        <div class="boxInside">Coordinates Y:</div>
        <div class="boxInside">{{lngCorrdinatesForPin}}</div>
    </div>
    <div class="box">
        <button  v-if="(diveMarker === null)" class="boxInside" @click="addMarker">Save</button>
        <button  v-else class="boxInside" @click="deleteMarker">Delete</button>
    </div>
    </div>
      <gmap-map
        :center="center"
        :zoom="mapZoom"
        :options="mapOptions"
        :style="mapStyle"
        ref="mapRef"
        @click="getClickOnMap"
      >
        <gmap-marker 
          v-if="!(diveMarker === null)" 
          :key="diveMarker.id"
          :position="diveMarker.position"
          ></gmap-marker>

      </gmap-map>
    </div>
</template>

<script>
import store from "@/store";

export default {
  name: "GoogleMap",

  data() {
    return {
      diveHasLocation: true,
      map: null,
      defaultCenter: { lat: 47.37088, lng: 8.54150 },
      center: { lat: 47.37088, lng: 8.54150 },
      //places: [],
      diveMarker: null,
      mapZoom: 8,
      currentPlace: null,
      mapOptions: { streetViewControl: false },
      mapStyle: { width: "100%",  height: "85%" },
      pinStyle: { width: "100%",  height: "15%" },
      latCorrdinatesForPin: null,
      lngCorrdinatesForPin: null
    };
  },
  computed: {
    hasDiveLocation(){
      if(this.getCurrentDiveId == -1){
        return false;
      }
      return this.getCurrentDive().isLocationSet;
    },
  },
  beforeUpdate() {
    if(this.$route.params.id === undefined){
      this.mapStyle.height="100%";
        return;
    }
    const dive = this.getCurrentDive();
    console.log(dive.isLocationSet);
    if(dive.isLocationSet){
      const position = {
        lat: dive.googleMapCoordinates.lat,
        lng: dive.googleMapCoordinates.lng
      }
      this.diveMarker = {id: dive.googleMapCoordinates.id, position: position};
      this.center = position;
    }else {
      this.center = this.defaultCenter;
      this.deleteMarker();
    }
  },
  mounted() {
    this.$refs.mapRef.$mapPromise.then(map => this.map = map);
  },
  watch: {
    '$route' (to, from){
      if(to === undefined){
        this.diveHasLocation = false;
      }else{
        const dive = store.dives[to.params.id-1]; // Array starts with 0 and id starts with 1
        this.diveHasLocation = dive.isLocationSet;
      }
    }
  },

  methods: {
    getCurrentDive(){
      return store.dives[this.$route.params.id-1]; // Array starts with 0 and id starts with 1
    },
    getCurrentDiveId(){
      if(this.$route.params.id === undefined){
        return -1;
      }
      return this.$route.params.id;
    },
    getClickOnMap(event) {
      this.latCorrdinatesForPin = event.latLng.lat().toFixed(4);
      this.lngCorrdinatesForPin = event.latLng.lng().toFixed(4);

    },
    addMarker() {
        console.log(this.diveMarker);
        const position = {
          lat: parseFloat(this.latCorrdinatesForPin),
          lng: parseFloat(this.lngCorrdinatesForPin)
        };
        this.diveMarker = {id: "1", position: position};
    },
    deleteMarker(){
      this.diveMarker = null;
    },
  }
};
</script>

<style>
div#maps {
  height: 100%;
  width: 50%;
  float: right;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
div.box {
  border-width: 1px;
  border-style: solid;
  float: left;
  margin: 2px;
}
div.boxInside {
  float: left;
}
div.pinLocation {
  margin-bottom: 5px;
  min-height: 50px;
}
</style>