<template>
  <div id="nav">
    <ul id="diveList" style="list-style-type: none">
      <li v-for="dive in dives" :key="dive.id">
        
        <router-link 
          :to="{
            name: 'diveDetail',
            params: {id: dive.id}
            }"
        >
          {{dive.date}}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import store from "@/store";

export default {
  data: function() {
    return {
    dives: store.dives
    }
  },
};
</script>
<style scoped>
div#nav {
  width: 15%;
  height: 90vh;
  float: left;
  background: #f0f0f0;
  padding: 0px;
}
</style>
