<template>
  <div id="maps">
    <div class="pinLocation">
      <p>Pin location</p>
      <div class="box">
          <div class="boxInside coord">Lat:</div>
          <div class="boxInside">{{getCurrentDiveCoordinates("lat")}}</div>
      </div>
      <div class="box">
          <div class="boxInside coord">Lng:</div>
          <div class="boxInside">{{getCurrentDiveCoordinates("lng")}}</div>
      </div>
      <div class="box">
          <button class="boxInside" @click="addMarker">Save</button>
          <button class="boxInside" @click="deleteMarker">Delete</button>
      </div>
    </div>
    <gmap-map
      :center="center"
      :zoom="mapZoom"
      :options="mapOptions"
      :style="mapStyle"
      ref="mapRef"
      @click="getClickOnMap"
    >
      <gmap-marker 
        v-if="!(diveMarker === null)" 
        :key="diveMarker.id"
        :position="diveMarker.position"
        ></gmap-marker>
    </gmap-map>
  </div>
</template>
<script>
import store from "@/store";

export default {
  name: "GoogleMap",
  data() {
    return {
      map: null,
      defaultCenter: { lat: 47.37088, lng: 8.54150 },
      center: { lat: 47.37088, lng: 8.54150 },
      diveMarker: null,
      mapZoom: 8,
      mapOptions: { streetViewControl: false },
      currentDive: null,
      mapStyle: { width: "100%",  height: "85%" },
    }
  },
  mounted() {
    this.$refs.mapRef.$mapPromise.then(map => this.map = map);
  },
   watch: {
    '$route' (to, from){
      if(to === undefined){
        this.currentDive = null;
        this.deleteMarker();
      }else{
        this.currentDive = store.dives[to.params.id-1]; // Array starts with 0 and id starts with 1
        if(this.currentDive.isLocationSet){
          this.setMarkerAndPositionMap(this.currentDive.googleMapCoordinates)
        }else{
          this.deleteMarker();
        }
      }
    }
  },
  methods: {
    getCurrentDiveCoordinates(coord){
      let coordinates = 0;
      if(this.currentDive != null){
        if(coord == "lat"){
          coordinates =  this.currentDive.googleMapCoordinates.lat;
        }
        if(coord == "lng"){
          coordinates = this.currentDive.googleMapCoordinates.lng;
        }
      }else if(this.diveMarker != null){
        if(coord == "lat"){
          coordinates = this.diveMarker.position.lat;
        }
        if(coord == "lng"){
          coordinates = this.diveMarker.position.lat;
        }
      }
      return coordinates.toFixed(4);;
    },
    addMarker(){
      console.log("add marker called");
    },
    getClickOnMap(event) {
      console.log("onClick");
      const position = {lat: 0, lng: 0};
      position.lat = event.latLng.lat();
      position.lng = event.latLng.lng();
      this.diveMarker = {position};
    },
    setMarkerAndPositionMap(position){
      this.diveMarker = {position};
      this.center = position;
    },
    deleteMarker(){
      this.diveMarker = null;
    }
  }
}
</script>
<style>
div#maps {
  height: 100%;
  width: 50%;
  float: right;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
div.box {
  border-width: 1px;
  border-style: solid;
  float: left;
  margin: 2px;
}
div.boxInside {
  float: left;
}
div.pinLocation {
  margin-bottom: 5px;
  min-height: 50px;
}
div.coord {
  min-width: 80px;
  text-align: left;
}
</style>