<template>
  <div id="app">
    <dive msg="welcome to localhost:8080" />
  </div>
</template>

<script>
import dive from "./components/dive.vue";

export default {
  name: "App",
  components: {
    dive
  }
};
</script>